<h1>Flow Task Manager</h1>

<app-create-edit-task [model]="taskModel"></app-create-edit-task>

<form>
  <h2> Sign up</h2>
    <label for="fullname">Fullname: </label>
    <!-- <input type="text" name="fullname" id="fullname" [(ngModel)]="name">
    <p *ngIf="name[0] != name[0].toUpperCase()"> Nagybetűvel kezdődjön! </p> -->
    <input type="text" name="fullname" id="fullname" [(ngModel)]="signUpModel.fullname" (blur)="validateFullname($event)">
    <p *ngIf="fullnameInvalid" style="color: red"> Nagybetűvel kezdődjön! </p>
    <br>
    <label for="email">E-mail: </label>
    <input type="text" name="email" id="email" [(ngModel)]="signUpModel.email" (change)="emailValidate($event)">
    <p *ngIf="emailInvalid" style="color: red"> Helytelen e-mail formátum! </p>
    <!--  <input type="text" name="email" id="email" [(ngModel)]="email">
    <p *ngIf="!emailValidate()"> .com-mal végződjön! </p> -->
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" [(ngModel)]="signUpModel.password">
    <p class="{{passwordInvalid}}">{{passwordInvalid}}</p>
    <!-- <input type="text" name="password" id="password" [(ngModel)]="password" [ngStyle]="{'background-color': passwordColor()}"> -->
    <br>
  <button (click)="signUp()">Sign up</button>
</form>