.p {
  background-color: deepskyblue
}

.k {
  background-color: red
}

.n {
  background-color: green
}

.RED {
  background-color: red
}

.YELLOW {
  background-color: yellow
}

.GREEN {
  background-color: green
}